$body-color: rgb(255,255,255);
$nav-color: rgb(127,127,127);
$shop-color: rgb(0,0,0);
$logo-color: rgb(39,39,39);
$arrows-color: rgb(0,0,0);
$slider-h1-color: rgb(0,0,0);
$slider-h2-color: rgb(73,73,73);
$slider-sites-meter-p-color: rgb(73,73,73);
$left-sidebar-background-color: rgb(255,255,255);
$categories-widget-h2-color: rgb(0,0,0);
$categories-widget-li-a-color: rgb(76,76,76);
$categories-widget-li-a-span-color: rgba(0, 0, 0, 0.4);
$categories-widget-hr-color: rgb(127,127,127);
$filter-widget-h2-color: rgb(0,0,0);
$filter-widget-h3-color: rgb(0,0,0);
$price-form-input-border-color: rgb(224,224,224);
$price-form-input-font-color: rgb(117,117,117);
$price-form-button-background-color: rgb(245,245,245);
$price-form-button-font-color: rgb(32,32,32);
$color-widget-h3-color: rgb(0,0,0);
$color-widget-color-selection-first-color: rgb(199,199,199);
$color-widget-color-selection-second-color: rgb(255,255,255);
$color-widget-color-selection-third-color: rgb(255,139,139);
$color-widget-color-selection-fourth-color: rgb(178,230,254);
$color-widget-color-selection-fifth-color: rgb(190,255,201);
$color-widget-color-selection-onclick-color: rgb(245,245,245);
$size-widget-h3-color: rgb(0,0,0);
$size-widget-li-a-color: rgb(76,76,76);
$size-widget-li-a-span-color: rgba(0, 0, 0, 0.4);
$brands-widget-li-a-color: rgb(76,76,76);
$brands-widget-li-a-span-color: rgba(0, 0, 0, 0.4);
$brands-widget-hr-color: rgb(127,127,127);

$tags-widget-h3-color: rgb(0,0,0);
$tags-widget-p-color: rgb(76,76,76);

$pagination-li-a-color: rgb(153,153,153);

$discount-form-div-background-color: rgb(245,245,245);
$discount-form-h1-color: rgb(0,0,0);
$discount-form-email-input-font-color: rgb(153,153,153);
$discount-form-email-input-border-color: rgb(238,238,238);
$discount-form-sending-button-font-color: rgb(0,0,0);
$discount-form-sending-button-border-color: rgb(0,0,0);

$footer-p-color: rgb(127,127,127);
$footer-menu-li-a-color: rgb(0,0,0);

$sort-widget-h2-color: rgb(0,0,0);
$sort-widget-p-color: rgb(152,152,152);

$items-itm-span-left-color: rgb(0,0,0);
$items-itm-span-right-color: rgb(0,0,0);
$items-itm-h3-name-color: rgb(0,0,0);
$items-itm-p-price-color: rgb(73,73,73);
