$nav-font-size: 16px;
$nav-letter-spacing: ($nav-font-size*400/1000);
$nav-padding: 21px;
$logo-font-size: 50px;
$logo-letter-spacing: ($logo-font-size*400/1000);
$ion-bag-font-size: 32px;
$ion-bag-letter-spacing: ($ion-bag-font-size*400/1000);
$ion-ios-arrow-font-size: 36px;
$slider-h1-font-size: 32px;
$slider-h1-letter-spacing: ($slider-h1-font-size*100/1000);
$slider-h2-font-size: 24px;
$slider-h2-letter-spacing: ($slider-h2-font-size*50/1000);
$slider-sites-meter-p-size: 18px;
$categories-widget-h2-font-size: 24px;
$categories-widget-h2-letter-spacing: ($categories-widget-h2-font-size*50/1000);
$categories-widget-li-a-font-size: 18px;
$categories-widget-li-a-letter-spacing: ($categories-widget-li-a-font-size*50/1000);
$categories-widget-li-a-line-height: 48px;
$categories-widget-li-a-span-font-size: 14px;
$categories-widget-li-a-span-letter-spacing: ($categories-widget-li-a-span-font-size*50/1000);
$categories-widget-li-a-span-line-height: 26px;
$categories-widget-hr-width: 270px;
$categories-widget-hr-height: 0.1;
$filter-widget-h2-font-size: 24px;
$filter-widget-h2-letter-spacing: ($filter-widget-h2-font-size*50/1000);
$filter-widget-h3-font-size: 20px;
$filter-widget-h3-letter-spacing: ($filter-widget-h3-font-size*50/1000);
$price-form-input-height: 32px;
$price-form-input-width: 80px;
$price-form-input-font-size: 16px;
$price-form-input-content-padding: 12px;
$price-form-input-heighest-price-margin-left: 10px;
$price-form-button-height: 32px;
$price-form-button-width: 72px;
$price-form-button-padding: 12px;
$price-form-button-font-size: 16px;
$price-form-button-margin-left: 30px;
$color-widget-h3-font-size: 20px;
$color-widget-h3-letter-spacing: ($color-widget-h3-font-size*50/1000);
$color-widget-color-selection-diameter: 37px;
$color-widget-color-selection-margin-right: 22px;
$ion-checkmark-font-size: 18px;
$size-widget-h3-font-size: 20px;
$size-widget-h3-letter-spacing: ($size-widget-h3-font-size*50/1000);
$size-widget-li-a-font-size: 18px;
$size-widget-li-a-letter-spacing: ($size-widget-li-a-font-size*50/1000);
$size-widget-li-a-line-height: 48px;
$size-widget-li-a-span-font-size: 14px;
$size-widget-li-a-span-letter-spacing: ($size-widget-li-a-span-font-size*50/1000);
$size-widget-li-a-span-line-height: 26px;

$brands-widget-h3-font-size: 20px;
$brands-widget-h3-letter-spacing: ($brands-widget-h3-font-size*50/1000);
$brands-widget-li-a-font-size: 18px;
$brands-widget-li-a-letter-spacing: ($brands-widget-li-a-font-size*50/1000);
$brands-widget-li-a-line-height: 48px;
$brands-widget-li-a-span-font-size: 14px;
$brands-widget-li-a-span-letter-spacing: ($brands-widget-li-a-span-font-size*50/1000);
$brands-widget-li-a-span-line-height: 26px;
$brands-widget-hr-width: 270px;
$brands-widget-hr-height: 0.1;

$tags-widget-h3-font-size: 20px;
$tags-widget-h3-letter-spacing: ($tags-widget-h3-font-size*50/1000);
$tags-widget-p-font-size: 18;
$tags-widget-p-letter-spacing: ($tags-widget-p-font-size*50/1000);

$pagination-li-a-font-size: 24px;
$pagination-li-a-letter-spacing: ($pagination-li-a-font-size*50/1000);
$pagination-li-a-padding-right: 12px;

$discount-form-div-height: 250px;
$discount-form-div-width: 1400;
$discount-form-h1-font-size: 42px;
$discount-form-h1-letter-spacing: ($discount-form-h1-font-size*50/1000);
$discount-form-h1-line-height: 54px;
$discount-form-email-input-height: 54px;
$discount-form-email-input-width: 500px;
$discount-form-email-input-font-size: 18px;
$discount-form-email-input-content-padding-left: 26px;
$discount-form-email-input-content-margin-left: 30px/*77px-tyle powinno być*/;

$discount-form-sending-button-height: 54px;
$discount-form-sending-button-width: 170px;
$discount-form-sending-button-font-size: 18px;
$discount-form-sending-buttont-content-margin-left: 0;

$footer-div-height: 113px;
$footer-p-font-size: 18px;
$footer-p-letter-spacing: ($footer-p-font-size*50/1000);
$footer-p-line-height: 18px;

$footer-menu-li-a-font-size: 18px;
$footer-menu-li-a-letter-spacing: ($footer-menu-li-a-font-size*50/1000);
$footer-menu-li-a-line-height: 18px;
$footer-menu-li-a-padding-left: 42px;

$sort-widget-h2-font-size: 24px;
$sort-widget-h2-letter-spacing: ($sort-widget-h2-font-size*50/1000);
$sort-widget-p-font-size: 18px;
$sort-widget-p-letter-spacing: ($sort-widget-p-font-size*50/1000);

$item-itm-img-height: 500px;
$item-itm-img-width: 400px;
$item-itm-img-margin-left: 10px;
$items-itm-span-left-font-size: 18px;
$items-itm-span-left-letter-spacing: ($items-itm-span-left-font-size*50/1000);
$items-itm-span-right-font-size: 24px;
$items-itm-span-right-letter-spacing: ($items-itm-span-right-font-size*100/1000);
$items-itm-h3-name-font-size: 18px;
$items-itm-h3-name-letter-spacing: ($items-itm-h3-name-font-size*50/1000);
$items-itm-p-price-font-size: 18px;
$items-itm-p-price-letter-spacing: ($items-itm-p-price-font-size*50/1000);
